<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Recursos{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@4.0.0-rc7/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">

<div class="app-wrapper">

    <nav class="app-header navbar navbar-expand bg-white shadow-sm">
        <div class="container-fluid">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-lte-toggle="sidebar" href="#">
                        <i class="bi bi-list"></i>
                    </a>
                </li>

                <li class="nav-item d-none d-md-block">
                    <a href="/" class="nav-link">Inicio</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-bell"></i>
                        <li class="nav-item">

    <button
    class="btn nav-link"
    id="theme-toggle">

        <i class="bi bi-moon-fill" id="theme-icon"></i>

    </button>

</li>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-person-circle"></i>
                        {{ session.usuario }}
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/logout" class="nav-link">
                        <i class="bi bi-box-arrow-right"></i>
                        Cerrar sesión
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <aside class="app-sidebar custom-sidebar shadow" data-bs-theme="dark">

        <div class="sidebar-brand">
            <a href="/" class="brand-link logo-container">
                <img src="{{ url_for('static', filename='img/keylogo.png') }}" class="sidebar-logo">
            </a>
        </div>

        <div class="sidebar-wrapper">
            <nav class="mt-3">
                <ul class="nav sidebar-menu flex-column">

                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="nav-icon bi bi-house-fill"></i>
                            <p>Inicio</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/catalogo" class="nav-link">
                            <i class="nav-icon bi bi-grid"></i>
                            <p>Catálogo</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/prestamos" class="nav-link">
                            <i class="nav-icon bi bi-table"></i>
                            <p>Préstamos</p>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>

    </aside>

    <main class="app-main">

        <div class="app-content-header">
            <div class="container-fluid">
                {% block header %}{% endblock %}
            </div>
        </div>

        <div class="app-content">
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>

    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/admin-lte@4.0.0-rc7/dist/js/adminlte.min.js"></script>

<script>

const toggleBtn = document.getElementById("theme-toggle");
const body = document.body;
const icon = document.getElementById("theme-icon");

if(localStorage.getItem("theme") === "dark") {

    body.classList.add("dark-mode");

    icon.classList.remove("bi-moon-fill");
    icon.classList.add("bi-sun-fill");

}

toggleBtn.addEventListener("click", () => {

    body.classList.toggle("dark-mode");

    if(body.classList.contains("dark-mode")) {

        localStorage.setItem("theme", "dark");

        icon.classList.remove("bi-moon-fill");
        icon.classList.add("bi-sun-fill");

    }

    else {

        localStorage.setItem("theme", "light");

        icon.classList.remove("bi-sun-fill");
        icon.classList.add("bi-moon-fill");

    }

});

</script>
</body>
</html>